[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	unstage = reset HEAD
	last = log -1
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=short
    logonelinewithdate = log --color --pretty=format:'%C(bold white)%h%Creset -%C(bold green)%d%Creset %s %C(bold green)(%cd)%Creset %C(bold blue)<%an>%Creset' --abbrev-commit --date=short
[user]
	email = 286674783@qq.com
	name = giveme5
[gui]
	recentrepo = /Users/naodongjiaolian/gitrepos
[core]
	excludesfile = /Users/naodongjiaolian/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/GitGUIClient/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[merge]
	tool = kdiff3
